rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Users collection
    match /users/{userId} {
      // Allow user to read/write their own user document
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Rules for the 'titles' sub-collection
      match /titles/{titleId} {
        // Any authenticated user who owns this list can read the titles.
        allow read: if request.auth != null && request.auth.uid == userId;

        // The owner can create, update, and delete their own titles.
        allow write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
